/* GLOBALS */
/* COLORS */
/* BORDER */
/* SIZE */
/* FONTS */
/* SPACING */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background-color: #777; }

html {
  font-size: 75%;
  font-family: "Montserrat", sans-serif; }

/* Anton */
/* QuickSand */
/* Oswald */
/* Courier Primer */
/* PAGES */
/* STYLE - INDEX PAGE - */
/* STYLE - INDEX NAV - */
#index-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #index-header .index-nav {
    display: flex;
    align-items: center;
    opacity: .7;
    position: absolute;
    top: 35px; }
    #index-header .index-nav__ul {
      transition: 1s all;
      margin-top: 10px; }
      #index-header .index-nav__ul__li {
        margin: 15px 25px;
        display: inline-block;
        text-align: center; }
        #index-header .index-nav__ul__li__a {
          color: #EEEEEE;
          font-size: 1.5em;
          font-family: "Montserrat", sans-serif;
          cursor: pointer;
          position: relative;
          transition: .3s all; }
        #index-header .index-nav__ul__li__a::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          /* Grosor del subrayado */
          bottom: 0;
          left: 0;
          background-color: gray;
          /* Color del subrayado */
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.4s ease-in-out 0s; }
        #index-header .index-nav__ul__li__a:hover::after {
          visibility: visible;
          transform: scaleX(1);
          background-color: #FFD95A; }
        #index-header .index-nav__ul__li__a:hover {
          color: #FFD95A; }
  #index-header .title-style {
    font-size: 15em;
    font-family: "Playfair Display", serif;
    color: #FFD95A;
    text-shadow: 5px 5px 10px black; }

/************************** MAIN **************************/
#index-main {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  #index-main .index-paragraph {
    font-size: 2.7rem;
    color: #EEEEEE;
    font-family: "Montserrat", sans-serif;
    padding: 32px;
    text-align: center; }
  #index-main .index-aside {
    background-image: url("../imagenes/galleryfondo.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 60vh;
    border-bottom-left-radius: 45px;
    border-top-left-radius: 45px;
    box-shadow: 0px 0px 7px #222; }
    #index-main .index-aside__a {
      position: absolute;
      font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 2em;
      color: black;
      transition: .3s all; }
    #index-main .index-aside__a::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      /* Grosor del subrayado */
      bottom: 0;
      left: 0;
      background-color: gray;
      /* Color del subrayado */
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s; }
    #index-main .index-aside__a:hover::after {
      visibility: visible;
      transform: scaleX(1);
      background-color: black; }
    #index-main .index-aside__a:hover {
      font-size: 2.8em; }

/************************** CAROUSEL ************************/
.container {
  margin-top: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #f3f3f3; }

.slider {
  width: 80%;
  max-width: 800px;
  position: relative; }

.slider ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  animation: slide 12s linear infinite alternate; }

.slider ul li {
  min-width: 100%;
  box-sizing: border-box; }

.slider img {
  width: 100%;
  display: block;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }

@keyframes slide {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-80%); } }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  background: #555; }

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px; }

::-webkit-scrollbar-thumb:hover {
  background: #242424; }

.slogan {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  margin: 100px 0px;
  text-align: center;
  color: #FFD95A;
  display: flex;
  justify-content: center;
  align-items: center; }

/************************** FOOTER ************************/
#index-footer {
  width: 100%;
  height: 150px;
  background-color: #222;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #EEEEEE; }
  #index-footer .copyright {
    margin-left: 25px; }
    #index-footer .copyright__h3 {
      font-size: 3em; }
  #index-footer .links {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 40px;
    font-size: 20px;
    padding: 15px;
    text-align: center; }
    #index-footer .links__container {
      width: 100%; }
    #index-footer .links a {
      transition: .2s all;
      color: #EEEEEE; }
    #index-footer .links a:nth-child(2) {
      margin: 0 15px; }
    #index-footer .links a:hover {
      color: #636363; }

/************************** ANIMACIONES **************************/
/***************** TRANSICIONES, TRANSFORMACIONES *****************/
.lista-horizontal__row div:hover {
  transform: scale(1.5, 1.5);
  color: black;
  background-color: white;
  margin: 50px; }

/* RESPONSIVE */
@media screen and (max-width: 1140px) {
  #index-header {
    background-position: center; }
    #index-header .submenu .logo {
      width: 7vw;
      height: 7vw; }
    #index-header .submenu__firma {
      margin-right: 50px; }
    #index-header .index-nav {
      margin-top: 125px; }
      #index-header .index-nav__ul {
        display: flex; }
  #index-main .index-aside {
    width: 100vw; }
  .altoCustom {
    height: 50vw; }
  .carousel-inner div img {
    width: 640px;
    height: 780px; } }

@media screen and (max-width: 1024px) {
  #index-header .submenu .logo {
    width: 7vw;
    height: 7vw; }
  #index-header .index-nav {
    margin-top: 125px; }
  #index-main .index-aside {
    width: 100vw; }
  #index-main {
    display: flex;
    flex-direction: column; }
    #index-main .index-aside {
      width: 70vw; }
  .altoCustom {
    height: 40vw; }
  .carousel-inner div img {
    width: 640px;
    height: 680px; } }

@media screen and (max-width: 720px) {
  #index-header .submenu .logo {
    width: 7vw;
    height: 7vw; }
  #index-header .submenu__firma {
    margin-right: 50px; }
  #index-header .index-nav__ul {
    display: flex; }
  #index-main {
    display: flex;
    flex-direction: column; }
    #index-main .index-aside {
      width: 70vw; }
  .altoCustom {
    height: 40vw; }
  .carousel-inner div img {
    width: 340px;
    height: 580px; } }

@media screen and (max-width: 480px) {
  #index-header .submenu .logo {
    width: 15vw;
    height: 15vw; }
  #index-header .submenu__firma {
    margin-right: 70px; }
  #index-header .title-style {
    font-size: 9em;
    margin-bottom: 20px; }
  #index-header .index-nav {
    margin-top: -5px;
    display: flex;
    justify-content: center; }
    #index-header .index-nav__ul {
      display: flex;
      flex-direction: column; }
      #index-header .index-nav__ul__li {
        display: block; }
        #index-header .index-nav__ul__li__a {
          font-size: 1.1em; }
  #index-main {
    display: flex;
    flex-direction: column; }
    #index-main .index-aside {
      width: 70vw;
      height: 70vw; }
  .altoCustom {
    height: 70vw; }
  .carousel-inner div img {
    width: 340px;
    height: 380px; } }

@media screen and (max-width: 320px) {
  #index-header {
    background-position: center; }
    #index-header .submenu {
      height: 40vw; }
      #index-header .submenu__logo {
        width: 20vw;
        height: 20vw; }
      #index-header .submenu__firma {
        width: 30%; }
    #index-header .title-style {
      font-size: 7rem; }
    #index-header .index-circle {
      display: none; }
    #index-header .index-nav {
      margin-top: -5px;
      display: flex;
      justify-content: center; }
      #index-header .index-nav__ul {
        display: flex;
        flex-direction: column; }
        #index-header .index-nav__ul__li {
          display: block; }
          #index-header .index-nav__ul__li__a {
            font-size: 1.1em; }
  #index-main {
    display: flex;
    flex-direction: column; }
    #index-main .index-aside {
      width: 70vw;
      height: 80vw; }
  .altoCustom {
    height: 80vw; }
  .carousel-inner div img {
    width: 340px;
    height: 380px; } }

.nosotros-title {
  font-size: 10rem;
  font-family: "Playfair Display", serif;
  color: #FFD95A;
  text-shadow: 5px 5px 10px black;
  text-align: center;
  margin: 50px 0px;
  animation: fadeIn;
  animation-duration: 3s; }

.main-nosotros {
  margin-top: 100px; }
  .main-nosotros hr {
    width: 50%; }
  .main-nosotros #bar-1 {
    margin-left: 0%;
    animation: slideInLeft;
    animation-duration: 2s; }
  .main-nosotros #bar-2 {
    margin-left: 50%;
    animation: slideInRight;
    animation-duration: 2s; }

#paragraph-nosotros {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  color: #EEEEEE;
  margin: 50px 20px;
  text-align: center; }

#bar-3 {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 120vh;
  margin-left: 0%; }

.grid-container-nosotros {
  display: grid;
  margin-top: 250px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 150px);
  justify-items: center; }
  .grid-container-nosotros div {
    border: none;
    cursor: pointer;
    border-radius: 30px;
    width: 500px;
    height: 500px; }
  .grid-container-nosotros div:hover {
    box-shadow: 0px 0px 5px black;
    border: none; }
  .grid-container-nosotros__img1 {
    border: 1px solid #333;
    background-image: url(../imagenes/anillo3.jpg);
    background-size: cover;
    background-position: center;
    transition: .2s all;
    animation: bounceInUp;
    animation-duration: 2s; }
  .grid-container-nosotros__img2 {
    border: 1px solid #333;
    background-image: url(../imagenes/collar3.jpeg);
    background-size: cover;
    background-position: bottom;
    transition: .2s all;
    margin-top: 200px; }
  .grid-container-nosotros__img3 {
    border: 1px solid #333;
    background-image: url(../imagenes/pulsera1.jpg);
    background-size: cover;
    background-position: bottom;
    transition: .2s all;
    animation: bounceInUp;
    animation-duration: 2s; }

main div div {
  display: inline-block;
  margin: 15px; }

/* STYLE - FOOTER NOSOTROS - */
.footer-nosotros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -60px;
  margin-bottom: 40px; }
  .footer-nosotros__container {
    margin: 0px 20px; }
    .footer-nosotros__container__a {
      font-family: calibri;
      font-size: 2em;
      color: #FFD95A;
      transition: .5s all;
      letter-spacing: 5px; }
    .footer-nosotros__container__a:hover {
      text-decoration: underline;
      text-underline-offset: 10px;
      color: #ffa600; }
  .footer-nosotros__logo {
    display: none;
    background-image: url("../imagenes/logo.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15vh;
    height: 15vh; }

/* ANIMACIONES */
.animate__fadeInDownBig {
  animation-duration: 1.5s; }

.animate__backInRight {
  animation-duration: 2s; }

.animate__bounceInUp {
  animation-duration: 2s; }

.animate__fadeInRightBig {
  animation-duration: 3s; }

.animate__fadeInRightBig {
  animation-duration: 5s; }

/* RESPONSIVE */
@media screen and (max-width: 1140px) {
  .nosotros-title {
    margin-top: 100px; } }

@media screen and (max-width: 800px) {
  .grid-container-nosotros__img1 {
    grid-column: 1/5;
    grid-row: 1/3; }
  .grid-container-nosotros__img2 {
    grid-column: 7/11;
    grid-row: 1/3; }
  .grid-container-nosotros__img3 {
    grid-column: 3/8;
    grid-row: 3/5; } }

@media screen and (max-width: 720px) {
  #nosotros-header .container-nav-nosotros {
    display: flex;
    align-items: center; }
    #nosotros-header .container-nav-nosotros__nav__ul__li {
      margin: 0px 15px; }
      #nosotros-header .container-nav-nosotros__nav__ul__li__a {
        font-size: 1.9em; }
      #nosotros-header .container-nav-nosotros__nav__ul__li__a:hover {
        font-size: 2.5em; }
    #nosotros-header .container-nav-nosotros__logo {
      width: 10vh;
      height: 10vh; }
  #nosotros-header .nosotros-title {
    font-size: 3em; }
  .grid-container-nosotros__img1 {
    grid-column: 2/6;
    grid-row: 1/3; }
  .grid-container-nosotros__img2 {
    grid-column: 6/10;
    grid-row: 1/3; }
  .grid-container-nosotros__img3 {
    grid-column: 3/9;
    grid-row: 3/5; } }

@media screen and (max-width: 620px) {
  #nosotros-header .container-nav-nosotros__logo {
    display: none; } }

@media screen and (max-width: 520px) {
  #nosotros-header .container-nav-nosotros__nav__ul__li__a {
    font-size: 1.5em; }
  #nosotros-header .container-nav-nosotros__nav__ul__li__a:hover {
    font-size: 2em; }
  #nosotros-header .container-nav-nosotros__logo {
    display: none; }
  #nosotros-header .nosotros-title {
    font-size: 2em; }
  .grid-container-nosotros__img1 {
    grid-column: 1/6; }
  .grid-container-nosotros__img2 {
    grid-column: 6/11; }
  .footer-nosotros__container {
    text-align: center; }
    .footer-nosotros__container__a {
      font-size: 1.5em; }
  .footer-nosotros__logo {
    display: inline-block;
    margin: 5px;
    width: 10vh;
    height: 10vh; } }

@media screen and (max-width: 440px) {
  #nosotros-header .container-nav-nosotros__nav__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #nosotros-header .container-nav-nosotros__nav__ul__li {
      padding: 10px; }
      #nosotros-header .container-nav-nosotros__nav__ul__li__a:hover {
        font-size: 1.5em; } }

@media screen and (max-width: 380px) {
  .grid-container-nosotros__img1 {
    grid-column: 3/9;
    grid-row: 2/3;
    background-position: center; }
  .grid-container-nosotros__img2 {
    grid-column: 3/9;
    grid-row: 3/4; }
  .grid-container-nosotros__img3 {
    grid-column: 3/9;
    grid-row: 4/5; }
  .footer-nosotros__logo {
    width: 14vh; } }

@media screen and (max-width: 320px) {
  #nosotros-header .container-nav-nosotros__nav__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #nosotros-header .container-nav-nosotros__nav__ul__li {
      padding: 10px; }
      #nosotros-header .container-nav-nosotros__nav__ul__li__a:hover {
        font-size: 1.5em; }
  .grid-container-nosotros__img1 {
    grid-column: 3/9;
    grid-row: 2/3;
    background-position: center; }
  .grid-container-nosotros__img2 {
    grid-column: 3/9;
    grid-row: 3/4; }
  .grid-container-nosotros__img3 {
    grid-column: 3/9;
    grid-row: 4/5; }
  .footer-nosotros {
    display: flex;
    flex-direction: column; }
    .footer-nosotros__container {
      margin: 10px; }
    .footer-nosotros__logo {
      width: 10vh;
      height: 10vh; } }

/* STYLE - MAIN PRODUCTS - */
body {
  height: 100vh; }

.bar {
  background-color: black;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }

.bar-icon {
  background-image: url("../imagenes/logo.jpeg");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  border: 1px solid #F3CA52; }

.grid-container-products {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 400px 400px;
  margin-top: 100px;
  gap: 30px;
  justify-content: center; }
  .grid-container-products__a {
    font-family: "Playfair Display", serif;
    font-size: 2em;
    color: black;
    transition: .2s all;
    position: relative;
    font-weight: 700; }
  .grid-container-products__a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gray;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s; }
  .grid-container-products__a:hover::after {
    visibility: visible;
    transform: scaleX(1);
    background-color: black; }
  .grid-container-products__a:hover {
    font-size: 2.8em; }
  .grid-container-products div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px black;
    border-radius: 30px;
    border: none; }
  .grid-container-products div:hover {
    box-shadow: none; }
  .grid-container-products .grid-container-products__img1 {
    background-image: url(../imagenes/collar2.jpg);
    background-position: bottom;
    background-size: cover;
    animation: fadeInTopLeft;
    animation-duration: 2.5s; }
  .grid-container-products .grid-container-products__img2 {
    background-image: url(../imagenes/pulsera4.jpg);
    background-size: contain;
    background-position: center;
    animation: fadeInTopRight;
    animation-duration: 2.5s; }
  .grid-container-products .grid-container-products__img3 {
    background-image: url(../imagenes/aro6.jpg);
    background-size: cover;
    animation: fadeInBottomLeft;
    animation-duration: 2.5s; }
  .grid-container-products .grid-container-products__img4 {
    background-image: url(../imagenes/anillo4.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeInBottomRight;
    animation-duration: 2.5s; }

#bar-footer {
  margin-top: 200px;
  background-color: black;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.btn-back {
  color: #EEEEEE;
  font-size: 2.8em;
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 25px;
  transition: .3s all; }

.btn-back::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: gray;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s; }

.btn-back:hover::after {
  visibility: visible;
  transform: scaleX(1);
  background-color: #FFD95A; }

.btn-back:hover {
  color: #FFD95A; }

/**************************************************************** RESPONSIVE /****************************************************************/
@media screen and (max-width: 1040px) {
  .grid-container-products__img3 {
    grid-column: 2/6 !important; }
  .grid-container-products__img5 {
    grid-column: 6/10 !important; } }

@media screen and (max-width: 880px) {
  .grid-container-products__img1 {
    grid-column: 1/6 !important; } }

@media screen and (max-width: 870px) {
  .grid-container-products__img2 {
    grid-column: 6/11 !important; } }

@media screen and (max-width: 810px) {
  .grid-container-products__img3 {
    grid-column: 1/6 !important; } }

@media screen and (max-width: 740px) {
  /*aqui hay que empezar a modificar el nav*/
  #products-header .nav__nav__ul__li__a {
    font-size: 1.7em; }
  #products-header .logo {
    width: 5vh;
    height: 5vh; } }

@media screen and (max-width: 700px) {
  .grid-container-products__img1 {
    grid-column: 1/7 !important; }
  .grid-container-products__img2 {
    grid-column: 7/11 !important;
    grid-row: 1/4 !important; }
  .grid-container-products__img4 {
    grid-column: 7/11 !important;
    grid-row: 4/7 !important; } }

@media screen and (max-width: 655px) {
  /* proxima modificacion del nav */
  #products-header .nav__nav__ul__li__a {
    font-size: 1.5em; }
  #products-header .nav__nav__ul__li__a:hover {
    font-size: 2.1em; }
  #products-header .logo {
    width: 5vh;
    height: 5vh; }
  .grid-container-products__img3 {
    grid-column: 1/7 !important; }
  .grid-container-products__img5 {
    grid-column: 7/11 !important; } }

@media screen and (max-width: 615px) {
  #products-header .nav__nav__ul__li__a {
    font-size: 1em; }
  #products-header .nav__nav__ul__li__a:hover {
    font-size: 1.5em; }
  #products-header .logo {
    width: 5vh;
    height: 5vh; }
  .grid-container-products__img1 {
    grid-column: 1/6 !important;
    grid-row: 1/4 !important; }
  .grid-container-products__img2 {
    grid-column: 6/11 !important;
    grid-row: 1/4 !important; }
  .grid-container-products__img3 {
    grid-column: 1/6 !important;
    grid-row: 4/7 !important; }
  .grid-container-products__img4 {
    grid-column: 6/11 !important;
    grid-row: 4/7 !important; }
  .grid-container-products__img5 {
    grid-column: 3/9 !important;
    grid-row: 7/10 !important; } }

@media screen and (max-width: 525px) {
  #products-header .nav__nav__ul__li__a {
    font-size: .75em; }
  #products-header .nav__nav__ul__li__a:hover {
    font-size: 1.5em; }
  #products-header .logo {
    width: 5vh;
    height: 5vh; } }

@media screen and (max-width: 515px) {
  .grid-container-products__img1 {
    grid-column: 1/6 !important;
    grid-row: 1/3 !important; }
  .grid-container-products__img2 {
    background-position: center;
    grid-column: 6/11 !important;
    grid-row: 1/3 !important; }
  .grid-container-products__img3 {
    grid-column: 1/6 !important;
    grid-row: 3/6 !important; }
  .grid-container-products__img4 {
    grid-column: 6/11 !important;
    grid-row: 3/6 !important; }
  .grid-container-products__img5 {
    grid-column: 3/9 !important;
    grid-row: 6/9 !important; } }

@media screen and (max-width: 485px) {
  #products-header .logo {
    width: 3vh;
    height: 3vh; } }

@media screen and (max-width: 470px) {
  #products-header .logo {
    width: 4vh;
    height: 3vh; }
  .grid-container-products__img3 {
    background-position: center;
    grid-column: 1/6 !important;
    grid-row: 3/5 !important; } }

@media screen and (max-width: 460px) {
  #products-header .nav__nav__ul__li__a {
    font-size: 0.5em; }
  #products-header .nav__nav__ul__li__a:hover {
    font-size: 1.5em; }
  #products-header .logo {
    width: 2vh;
    height: 2vh; } }

@media screen and (max-width: 370px) {
  #products-header .nav__nav__ul__li__a {
    font-size: .5em; }
  #products-header .nav__nav__ul__li__a:hover {
    font-size: .5em; }
  #products-header .logo {
    display: none; } }

/* STYLE - PAGE NEWS - */
/* STYLE - NAV - */
#news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-size: cover;
  background-position: center; }
  #news-header .news-nav {
    display: flex; }
    #news-header .news-nav__nav {
      padding: 40px;
      display: flex;
      align-items: center; }
      #news-header .news-nav__nav__ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 48px; }
        #news-header .news-nav__nav__ul__li {
          margin: 0px 35px; }
          #news-header .news-nav__nav__ul__li__a {
            color: #FFD95A;
            font-size: 2.1em;
            transition: .3s all;
            font-family: monospace;
            font-weight: 500; }
          #news-header .news-nav__nav__ul__li__a:hover {
            font-size: 2.5em;
            color: #C07F00;
            font-weight: bold;
            text-shadow: 0px 0px 10px black; }
  #news-header .logo {
    height: 65px;
    width: 65px;
    border-radius: 50%; }

/* STYLE - MAIN - */
hr {
  width: 50%;
  margin-left: 25%;
  color: khaki; }

.title-news {
  font-size: 8em;
  font-family: monospace;
  color: khaki;
  text-shadow: 5px 5px 10px black;
  text-align: center;
  margin-top: 50px; }

.container {
  display: flex;
  justify-content: space-around; }
  .container__card {
    background-color: #362828;
    height: 600px;
    width: 600px;
    border-radius: 15px;
    border: 1px solid black;
    /* &-img-1 {
            background-image: url("../imagenes/cadena7.jpeg");
            background-size: cover;
        }
        &-img-2 {
            background-image: url("../imagenes/promo2.jpeg");
            background-size: cover;
        }
        &-img-3 {
            background-image: url("../imagenes/anillo7.jpeg");
            background-size: cover;
        } */ }
    .container__card img {
      width: 100%;
      height: 475px;
      background-position: bottom;
      border-radius: 15px 15px 0px 0px; }

/* .card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    font-family: sans-serif;
    text-align: center;
    background-color: none;
} */
.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover; }

.card-block {
  color: khaki;
  font-size: 1.5em; }

.row div div {
  padding: 10px;
  background-color: #525252; }

/* ANIMACIONES */
.animate__fadeInDownBig {
  animation-duration: 1.5s; }

#main-contact .animate__backInRight {
  animation-duration: 1.5s; }

.animate__bounceInUp {
  animation-duration: 2s; }

/* RESPONSIVE */
@media screen and (max-width: 880px) {
  #news-header .logo {
    display: none; } }

@media screen and (max-width: 760px) {
  #news-header .news-nav__nav__ul__li__a {
    font-size: 1.5em; }
  #news-header .news-nav__nav__ul__li__a:hover {
    font-size: 1.4em; } }

@media screen and (max-width: 600px) {
  #news-header .news-nav__nav__ul__li__a {
    font-size: 1em; }
  #news-header .news-nav__nav__ul__li__a:hover {
    font-size: 1.3em; } }

/* STYLES - FORM - */
#main-contact {
  display: flex;
  justify-content: center;
  margin: 100px auto; }
  #main-contact div div {
    margin: 0px; }
  #main-contact .form {
    background-color: #EEEEEE;
    width: 35vw;
    height: 600px;
    padding: 20px;
    box-shadow: 0px 0px 5px black;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    animation: slideInUp;
    animation-duration: 1s; }
    #main-contact .form__title {
      font-size: 3em;
      font-family: "Playfair Display", serif;
      color: black; }
    #main-contact .form__datos {
      display: flex;
      justify-content: space-between; }
      #main-contact .form__datos input {
        font-size: 1.5em;
        background: none;
        border: none;
        border-bottom: 1px solid #444;
        padding: 5px;
        width: 87%;
        margin: 10px 0px;
        font-size: 1.2em; }
      #main-contact .form__datos__names {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 45%; }
      #main-contact .form__datos__select {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 45%; }
        #main-contact .form__datos__select-right {
          margin: 10px 0px; }
          #main-contact .form__datos__select-right label {
            font-size: 1.2em; }
          #main-contact .form__datos__select-right select {
            margin-top: 10px;
            border: 1px solid black;
            border-radius: 10px;
            width: 40%;
            font-family: "Montserrat", sans-serif; }
    #main-contact .form__consult {
      display: flex;
      flex-direction: column;
      align-items: start; }
      #main-contact .form__consult textarea {
        width: 100%;
        height: 100px;
        resize: none;
        font-size: 1.2em;
        font-family: "Montserrat", sans-serif;
        padding: 6px; }
      #main-contact .form__consult__btns {
        width: 100%;
        display: flex; }
        #main-contact .form__consult__btns input {
          cursor: pointer;
          border: none;
          margin-top: 10px;
          font-family: "Montserrat", sans-serif; }
        #main-contact .form__consult__btns-send {
          width: 38%;
          padding: 12px;
          background-color: #A9A9A9;
          transition: .5s all; }
        #main-contact .form__consult__btns-send:hover {
          box-shadow: 0px 0px 2px #222;
          background-color: #7F7F7F; }
        #main-contact .form__consult__btns-delete {
          width: 10%;
          margin-left: 10px;
          padding: 12px 5px;
          background-color: #F3CA52;
          transition: .5s all; }
        #main-contact .form__consult__btns-delete:hover {
          box-shadow: 0px 0px 2px #222;
          background-color: #E0B040; }

/* ANIMACIONES */
.animate__fadeInDownBig {
  animation-duration: 1.5s; }

.animate__backInRight {
  animation-duration: 2s; }

/* RESPONSIVE */
@media screen and (max-width: 910px) {
  #main-contact .contact-section__form__names {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 760px) {
  .container-nav-contact .logo {
    display: none !important; } }

@media screen and (max-width: 740px) {
  #main-contact .contact-section {
    width: 70vh; } }

@media screen and (max-width: 470px) {
  #main-contact .contact-section {
    width: 70vh;
    margin-left: 250px; } }

/* PAGE ANILLOS SYTLE */
.grid-container-anillos {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px 500px;
  justify-items: center; }
  .grid-container-anillos__img1 {
    background-image: url("../imagenes/anillo2.jpg"); }
  .grid-container-anillos__img2 {
    background-image: url("../imagenes/anillo3.jpg"); }
  .grid-container-anillos__img3 {
    background-image: url("../imagenes/anillo4.jpg"); }
  .grid-container-anillos__img4 {
    background-image: url("../imagenes/anillo5.jpg"); }
  .grid-container-anillos__img5 {
    background-image: url("../imagenes/anillo6.jpg"); }
  .grid-container-anillos__img6 {
    background-image: url("../imagenes/anillo7.jpg"); }
  .grid-container-anillos div {
    height: 420px;
    width: 450px;
    transition: .5s all;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    border-radius: 25px; }
    .grid-container-anillos div p {
      font-family: "Montserrat", sans-serif;
      display: none;
      font-size: 2.7em;
      position: absolute;
      bottom: 0;
      margin: 15px;
      transition: .5s all; }

/* TRANSICIONES */
.grid-container-anillos div:hover {
  transform: scale(1.1, 1.1);
  margin: 20px;
  filter: none; }
  .grid-container-anillos div:hover p {
    display: block; }

/* PAGE AROS STYLE */
.grid-container-aros {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px 500px;
  justify-items: center; }
  .grid-container-aros__img1 {
    background-image: url("../imagenes/aro2.jpg");
    background-position: bottom; }
  .grid-container-aros__img2 {
    background-image: url("../imagenes/aro3.jpg");
    background-position: bottom; }
  .grid-container-aros__img3 {
    background-image: url("../imagenes/aro4.jpg");
    background-position: bottom; }
  .grid-container-aros__img4 {
    background-image: url("../imagenes/aro5.jpg");
    background-position: center; }
  .grid-container-aros__img5 {
    background-image: url("../imagenes/aro6.jpg");
    background-position: bottom; }
  .grid-container-aros__img6 {
    background-image: url("../imagenes/aro7.jpg");
    background-position: bottom; }
  .grid-container-aros div {
    height: 420px;
    width: 450px;
    transition: .5s all;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    border-radius: 25px; }
    .grid-container-aros div p {
      font-family: "Montserrat", sans-serif;
      display: none;
      font-size: 2.7em;
      position: absolute;
      bottom: 0;
      margin: 15px;
      transition: .5s all; }

/* TRANSICIONES */
.grid-container-aros div:hover {
  transform: scale(1.08, 1.08);
  margin: 10px;
  filter: none; }
  .grid-container-aros div:hover p {
    display: block; }

/* PAGE CADENAS STYLES */
.grid-container-cadenas {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px 500px;
  justify-items: center; }
  .grid-container-cadenas div {
    height: 420px;
    width: 450px;
    transition: .5s all;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    border-radius: 25px; }
    .grid-container-cadenas div p {
      font-family: "Montserrat", sans-serif;
      display: none;
      font-size: 2.7em;
      position: absolute;
      bottom: 0;
      margin: 15px;
      transition: .5s all; }
  .grid-container-cadenas__img1 {
    background-image: url("../imagenes/collar2.jpg"); }
  .grid-container-cadenas__img2 {
    background-image: url("../imagenes/collar3.jpeg"); }
  .grid-container-cadenas__img3 {
    background-image: url("../imagenes/collar4.jpg"); }
  .grid-container-cadenas__img4 {
    background-image: url("../imagenes/collar5.jpg"); }
  .grid-container-cadenas__img5 {
    background-image: url("../imagenes/collar6.jpg"); }
  .grid-container-cadenas__img6 {
    background-image: url("../imagenes/collar6.jpg"); }

/* TRANSICIONES */
.grid-container-cadenas div:hover {
  transform: scale(1.08, 1.08);
  margin: 20px;
  filter: none; }
  .grid-container-cadenas div:hover p {
    display: block; }

/* PAGE PULSERAS STYLE */
.grid-container-pulseras {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px 500px;
  justify-items: center; }
  .grid-container-pulseras div {
    height: 420px;
    width: 450px;
    transition: .5s all;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    border-radius: 25px; }
    .grid-container-pulseras div p {
      font-family: "Montserrat", sans-serif;
      display: none;
      font-size: 2.7em;
      position: absolute;
      bottom: 0;
      margin: 15px;
      transition: .5s all; }
  .grid-container-pulseras__img1 {
    background-image: url("../imagenes/pulsera1.jpg"); }
  .grid-container-pulseras__img2 {
    background-image: url("../imagenes/pulsera2.jpg"); }
  .grid-container-pulseras__img3 {
    background-image: url("../imagenes/pulsera3.jpg"); }
  .grid-container-pulseras__img4 {
    background-image: url("../imagenes/pulsera4.jpg"); }
  .grid-container-pulseras__img5 {
    background-image: url("../imagenes/pulsera5.jpg"); }
  .grid-container-pulseras__img6 {
    background-image: url("../imagenes/pulsera6.jpg"); }

/* TRANSICIONES */
.grid-container-pulseras div:hover {
  transform: scale(1.08, 1.08);
  margin: 20px;
  filter: none; }
  .grid-container-pulseras div:hover p {
    display: block; }
