

/* STYLE - CONTACT PAGE - */

/* STYLE - NAV - */

#contact-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .container-nav-contact {
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        &__nav {
            display: flex;
            align-items: center;
            padding: $spacing-big + $spacing-big;
            &__ul {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 48px;
                &__li {
                    margin: 0px 20px;
                    &__a {
                        color: $color-firts;
                        font-size: $text-normal+.6em;
                        transition: .3s all;
                        font-family: monospace;
                        font-weight: 500;
                    }
                    &__a:hover {
                        font-size: $text-normal+1em;
                        color: #C07F00;
                        font-weight: bold;
                        text-shadow: 0px 0px 10px black;
                    }
                }
            }
        }
    }

    .logo {
        border-radius: 50%;
        height: 65px;
        width: 65px;
    }
}


/* STYLES - FORM - */

#main-contact {
    display: flex;
    justify-content: center;
    margin: 200px auto;
    .contact-section {
        background-color: khaki;
        width: 50vw;
        padding: 20px;
        box-shadow: 0px 0px 10px black;
        &__title {
            font-family: 'Anton', sans-serif;
            font-size: $text-medium;
        }
        &__form {
            &__datos {
                display: flex;
                justify-content: space-around; 
                flex-wrap: wrap;
                input {
                    font-size: $text-normal;
                    background: none;
                    border: none;
                    border-bottom: 1px solid black;
                    padding: 5px;
                }
                &__names {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }
                &__select {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    &__right {
                        label {
                            font-family: 'Quicksand', sans-serif;
                            font-size: $text-normal;    
                        }
                        select {
                            border: $normal-border;
                            padding: 3px;
                            border-radius: 10px;
                            margin-left: 5px;
                        }
                    }
                }
            }



            &__consultation {
                display: flex;
                flex-direction: column;
                align-items: center;
                textarea {
                    width: 50%;
                    resize: none;
                    font-family: 'Quicksand', sans-serif;
                    font-size: $text-normal;   
                    text-align: center;
                }
                &__buttons {
                    text-align: center;
                    width: 90%;
                    input {
                        border-radius: 15px;
                        cursor: pointer;
                        border: none;
                        box-shadow: 0px 0px 3px black;
                        margin: 3px;
                    }
                    &__send {
                        width: 70%;
                        padding: 12px;
                        background-image: radial-gradient(circle 350px, lightgray, rgb(58, 54, 54));
                    }
                    &__delete {
                       padding: 12px 5px;
                       background-image: radial-gradient(circle 25px, lightcoral, crimson);
                    }
                }
            }
        }
    }
}

/* ANIMACIONES */

.animate__fadeInDownBig {
    animation-duration: 1.5s;
}
.animate__backInRight {
    animation-duration: 2s;
}

/* RESPONSIVE */

@media screen and (max-width: 910px) {

    #main-contact {
        .contact-section {
            &__title {
            }
            &__form {
                &__names {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

}

@media screen and (max-width: 760px) {

    .container-nav-contact .logo {
        display: none !important;
    }

}

@media screen and (max-width: 740px) {

    #main-contact {
        .contact-section {
            width: 70vh;
        }
    }

}
@media screen and (max-width: 470px) {

    #main-contact {
        .contact-section {
            width: 70vh;
            margin-left: 250px;
        }
    }

}














