

/* STYLES - FORM - */

#main-contact {
    display: flex;
    justify-content: center;
    margin: 100px auto;
    div div {
        margin: 0px;
    }
    .form {
        background-color: $gray;
        width: 40vw;
        height: 700px;
        padding: 20px;
        box-shadow: 0px 0px 5px black;
        font-family: $montserrat;
        font-size: 1em;
        &__title {
            font-size: 3em;
            font-family: $playfair-display;
            color: black;
        }
        &__datos {
            display: flex;
            justify-content: start; 
            input {
                font-size: $text-normal;
                background: none;
                border: 1px solid black;
                padding: 5px;
                width: 80%;
            }
            &__names {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 45%;
                
            }
            &__select {
                display: flex;
                flex-direction: column;
                width: 45%;
                input {
                }
                &-right {
                    label {
                        font-size: 1.2em;
                    }
                    select {
                        border: $border;
                        border-radius: 10px;
                    }
                }
            }
        }

        &__consult {
            display: flex;
            flex-direction: column;
            align-items: start;
            textarea {
                width: 75px;
                height: 75px;
                resize: none;
                font-size: $text-normal;   
            }
            &__btns {
                width: 90%;
                input {
                    border-radius: 15px;
                    cursor: pointer;
                    border: none;
                    box-shadow: 0px 0px 3px black;
                    margin: 3px;
                }
                &-send {
                    width: 70%;
                    padding: 12px;
                    background-image: radial-gradient(circle 350px, lightgray, rgb(58, 54, 54));
                }
                &-delete {
                   padding: 12px 5px;
                   background-image: radial-gradient(circle 25px, lightcoral, crimson);
                }
            }
        }
    }
}


/* ANIMACIONES */

.animate__fadeInDownBig {
    animation-duration: 1.5s;
}
.animate__backInRight {
    animation-duration: 2s;
}

/* RESPONSIVE */

@media screen and (max-width: 910px) {

    #main-contact {
        .contact-section {
            &__form {
                &__names {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

}

@media screen and (max-width: 760px) {

    .container-nav-contact .logo {
        display: none !important;
    }

}

@media screen and (max-width: 740px) {

    #main-contact {
        .contact-section {
            width: 70vh;
        }
    }

}
@media screen and (max-width: 470px) {

    #main-contact {
        .contact-section {
            width: 70vh;
            margin-left: 250px;
        }
    }

}














