

/* STYLE - CONTACT PAGE - */

/* STYLE - NAV - */

#contact-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .container-nav-contact {
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        &__nav {
            display: flex;
            align-items: center;
            padding: $spacing-big + $spacing-big;
            &__ul {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 48px;
                &__li {
                    margin: 0px 20px;
                    &__a {
                        color: #FFD700;
                        font-size: $text-normal+.6em;
                        transition: .3s all;
                        font-family: monospace;
                        font-weight: 500;
                    }
                    &__a:hover {
                        font-size: $text-normal+1.2em;
                        color: orange;
                        font-weight: bold;
                        text-shadow: 0px 0px 10px black;
                    }
                }
            }
        }
    }
}


/* STYLES - FORM - */

#main-contact {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    .contact-section {
        background-color: khaki;
        width: 50%;
        padding: 20px;
        box-shadow: 0px 0px 10px black;
        &__title {
            font-family: 'Anton', sans-serif;
            font-size: $text-medium;
        }
        &__form {
            &__datos {
                display: flex;
                justify-content: space-around; 
                flex-wrap: wrap;
                input {
                    font-size: $text-normal;
                    background: none;
                    border: none;
                    border-bottom: 1px solid black;
                    padding: 5px;
                }
                &__names {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }
                &__select {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    &__right {
                        label {
                            font-family: 'Quicksand', sans-serif;
                            font-size: $text-normal;    
                        }
                        select {
                            border: $normal-border;
                            padding: 3px;
                            border-radius: 10px;
                            margin-left: 5px;
                        }
                    }
                }
            }



            &__consultation {
                display: flex;
                flex-direction: column;
                align-items: center;
                textarea {
                    width: 50%;
                    resize: none;
                    font-family: 'Quicksand', sans-serif;
                    font-size: $text-normal;   
                }
                &__buttons {
                    text-align: center;
                    width: 90%;
                    input {
                        border-radius: 15px;
                        cursor: pointer;
                        border: none;
                        box-shadow: 0px 0px 3px black;
                        margin: 3px;
                    }
                    &__send {
                        width: 70%;
                        padding: 12px;
                        background-image: radial-gradient(circle 350px, lightgray, rgb(58, 54, 54));
                    }
                    &__delete {
                       padding: 12px 5px;
                       background-image: radial-gradient(circle 25px, lightcoral, crimson);
                    }
                }
            }
        }
    }
}

/* FOOTER STYLE */
















