
/* STYLE - INDEX PAGE - */

/* STYLE - INDEX NAV - */

#index-header {
    background-image: url("../imagenes/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .submenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 150px;
        .logo {
            box-shadow: 0px 0px 10px black;
            border-radius: 50%;
        }
        &__firma {
            font-size: 2rem;
            display: inline-block;
            margin-right: 30px;
            color: white;
            width: 10%;
            animation: firma .8s linear infinite;
        }
        &__firma p {
            font-size: 1.5em;
            display: none;
        }
    }
    .title-style {
        font-size: $text-big;
        font-family: monospace;
        color: #FFD95A;
        text-shadow: 5px 5px 10px black;
        text-align: center;
    }
    .index-circle {
        height: 60px;
        width: 60px;
        background: gray;
        display: inline-block;
        animation: index-circle 5s linear infinite alternate;
        border-radius: 50px;
        margin: 10px;
        display: none;
    }
    .index-nav {
        display: flex;
        align-items: center;
        margin-top: 425px;
        background-color: gray;
        opacity: .7;
        &__ul {
            transition: 1s all;
            margin-top: 10px;
            &__li { 
                margin: 15px 25px;
                display: inline-block;
                text-align: center;
                i {
                    font-size: $text-normal;
                    cursor: pointer;
                }
                &__a {
                    color: black;
                    font-size: $text-normal+.1em;
                    transition: .5s all;
                    font-family: 'Azeret Mono', monospace;
                }
                &__a:hover {
                    transition: .3s all;
                    text-decoration: underline;
                    font-size: 1.7em;
                    color: $color-firts;
                }
            }
        }
    }
}



/* STYLE - MAIN INDEX - */

#index-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px;
    .index-paragraph {
        font-size: 2.7rem;
        font-family: monospace;
        color: $color-firts;
        margin-bottom: 40px;
        margin-right: 20px;
        margin-left: 15px;
        text-align: center;
    }
    .index-aside {
        background-image: url("../imagenes/galleryfondo.png");
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 35vw;
        margin: 0px 40px;
        border: 10px double black;
        box-shadow: 0px 0px 20px black;
        &__gallery {
            border: 1px solid black;
            filter: blur(4.5px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__a {
            position: absolute;
            font-size: 2em;
            color: black;
            transition: .3s all;
        }
        &__a:hover {
            font-size: $text-medium + .2em;
            text-decoration: underline;
        }
    }
}



/* CARRUSEL STYLE */

.altoCustom {
    height: 45vw;
    overflow: hidden;
}

.carousel div img {
    box-shadow: 0px 0px 10px black;
}

/* STYLE - INDEX FOOTER - */

#index-footer {
    .slogan-container {
        &__p {
            font-family: monospace;
            font-size: 3rem;
            margin-top: 30px;
            margin-bottom: 100px;
            text-align: center;
            color: $color-firts;
        }
    }
    hr {
        color: white;
    }
    .nav-footer {
        margin-top: 75px;
        &__ul {
            &__li {
                list-style: none;
                display: inline-block;
                margin: 0px 30px;
                a {
                    font-size: $text-medium - 1em;
                }
                &__a1 {
                    color: #FFD95A;
                }
                &__a1:hover {
                    transition: .2s all;
                    color: #C07F00;
                }
                &__a2 {
                    color: #FFD95A;
                }
                &__a2:hover {
                    transition: .2s all;
                    color: #C07F00;
                }
                &__a3 {
                    font-family: Arial;
                    color: #FFD95A;
                }
                &__a3:hover {
                    transition: .2s all;
                    color: #C07F00;
                }
            }
        }
    }
    .container-copyright {
        &__p {
            font-family: 'Iceland', cursive;
            background-color: black;
            text-align: center;
            color: white;
        }
    }
}




/* ANIMACIONES */


@keyframes firma {
    0% {color: blue;}
    25% {color: green;}
    50% {color: gray;}
    75% {color: orange;}
    100% {color: black;}
}

/* TRANSICIONES, TRANSFORMACIONES */


.lista-horizontal__row div:hover {
    transform: scale(1.5, 1.5);
    color: black;
    background-color: white;
    margin: 50px;
}


/* RESPONSIVE */


@media screen and (max-width: 1140px) {

    #index-header {
        background-position: center;
        .submenu {
            .logo {
                width: 7vw;
                height: 7vw;
            } 
            &__firma {
                margin-right: 50px;
            }
        }
        .index-nav {
            margin-top: 125px;
            &__ul {
                display: flex;
            }
        }
    }
    #index-main {
        .index-aside {
            width: 100vw;
        }
    }
    .altoCustom {
        height: 50vw;
    }
    .carousel-inner div img {
        width: 640px;
        height: 780px;
    }

}

@media screen and (max-width: 1024px) {

    #index-header {
        .submenu {
            .logo {
                width: 7vw;
                height: 7vw;
            } 
        }
        .index-nav {
            margin-top: 125px;
            &__ul {
            }
        }
    }
    #index-main {
        .index-aside {
            width: 100vw;
        }
    }
    #index-main {
        display: flex;
        flex-direction: column;
        .index-aside {
            width: 70vw;
        }
    }
    .altoCustom {
        height: 40vw;
    }
    .carousel-inner div img {
        width: 640px;
        height: 680px;
    }

}


@media screen and (max-width: 720px) {

    #index-header {
        .submenu {
            .logo {
                width: 7vw;
                height: 7vw;
            } 
            &__firma {
                margin-right: 50px;
            }
        }
        .index-nav {
            &__ul {
                display: flex;
            }
        }
    }
    #index-main {
        display: flex;
        flex-direction: column;
        .index-aside {
            width: 70vw;
        }
    }
    .altoCustom {
        height: 40vw;
    }
    .carousel-inner div img {
        width: 340px;
        height: 580px;
    }

}

@media screen and (max-width: 480px) {

    #index-header{
        .submenu {
            .logo {
                width: 15vw;
                height: 15vw;
            } 
            &__firma {
                margin-right: 70px;
            }
        }
        .title-style {
            font-size: $text-big - 1em;
            margin-bottom: 20px;
        }
        .index-nav {
            margin-top: -5px;
            display: flex;
            justify-content: center;
            &__ul {
                display: flex;
                flex-direction: column;
                &__li {
                    display: block;
                    &__a {
                        font-size: $text-normal - .4em;
                    }
                }
            }
        }
    }
    #index-main {
        display: flex;
        flex-direction: column;
        .index-aside {
            width: 70vw;
            height: 70vw;
        }
    }
    .altoCustom {
        height: 70vw;
    }
    .carousel-inner div img {
        width: 340px;
        height: 380px;
    }

}


@media screen and (max-width: 320px) {


    #index-header {
        background-position: center;
        .submenu {  
            height: 40vw;
            &__logo {
                width: 20vw;
                height: 20vw;
            }
            &__firma {
                width: 30%;
            }
        }
        .title-style {
            font-size: 7rem;
        }
        .index-circle {
            display: none;
        }
        .index-nav {
            margin-top: -5px;
            display: flex;
            justify-content: center;
            &__ul {
                display: flex;
                flex-direction: column;
                &__li {
                    display: block;
                    &__a {
                        font-size: $text-normal - .4em;
                    }
                }
            }
        }
    }
    #index-main {
        display: flex;
        flex-direction: column;
        .index-aside {
            width: 70vw;
            height: 80vw;
        }
    }
    .altoCustom {
        height: 80vw;
    }
    .carousel-inner div img {
        width: 340px;
        height: 380px;
    }
}


    







