
/* STYLE - NOSOTROS PAGE - */

/* STYLE - NAV - */

#nosotros-header {
    // background-image: linear-gradient(white, lightpink);
    height: 70vh;
    .container-nav-nosotros {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        &__nav {
            &__ul {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 48px;
                &__li {
                    margin: 0px 20px;
                    &__a {
                        color: #D37715;
                        font-size: 1.5em;
                        transition: .5s all;
                        font-family: sans-serif;
                    }
                    &__a:hover {
                        color: brown;
                        font-weight: bold;
                        font-size: 2em;
                    }
                }
            }
        }
        &__logo {
            background-image: url("../imagenes/logo.jpeg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 6%;
            height: 100px;
            margin-top: 20px;
            margin-right: 20px;
        }
    }
    .nosotros-title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        text-align: center;
        font-size: 3em;
        font-family: monospace;
        color: gold;
        text-shadow: 5px 5px 10px black;
    }
}



/* STYLE - MAIN NOSOTROS - */

#paragraph-nosotros {
    font-size: $text-medium; 
    font-family: 'Andika New Basic', sans-serif;
    color: #FFD700;
    margin: 50px 20px;
    text-align: center;
}
.grid-container-nosotros {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 150px);
    border: 2px solid white;
    &__img1 {
        background-image: url(../imagenes/anillo2.jpeg);
        background-size: cover;
        grid-column: 1/4;
        grid-row: 1/4;
        box-shadow: 5px 5px 10px black;
        transition: .5s all;
    }
    &__img1:hover {
        box-shadow: 0px 0px 10px white;
    }
    &__img2 {
        background-image: url(../imagenes/cadena2.jpeg);
        background-size: cover;
        background-position: bottom;
        grid-column: 4/8;
        grid-row: 2/5;
        box-shadow: 5px 5px 10px black;
        transition: .5s all;
    }
    &__img2:hover {
        box-shadow: 0px 0px 10px white;
    }
    &__img3 {
        background-image: url(../imagenes/aro2.jpeg);
        background-size: cover;
        grid-column: 8/11;
        grid-row: 1/4;
        box-shadow: 5px 5px 10px black;
        transition: .5s all;
    }
    &__img3:hover {
        box-shadow: 0px 0px 10px white;
    }
}



main {
    div {
        div {
            display: inline-block;
            margin: 15px;
        }
    }
}

/* STYLE - FOOTER NOSOTROS - */

.footer-nosotros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -60px;
    margin-bottom: 40px;
    &__container {

        @if $color-fourth == gray {
            background-image: linear-gradient(white, gray);
        } @else if $color-fourth == blue {
            background-color: blue;
        } @else {
            background-color: $color-error;
        }

        margin: 0px 20px;
        padding: $spacing-normal*2;
        border-radius: 20px;
        &__a {
            font-family: monospace;
            font-size: $text-normal;
            color: #D37715;
            transition: .5s all;
        }
        &__a:hover {
            color: brown;
        }
    }
    // &__logo {
    //     background-image: url("../imagenes/logo.jpeg");
    //     outline: 2px solid black;
    //     width: 10%;
    //     height: 100px;
    // }
}


@for $i from 1 through 3 {

    .caja-#{$i} {
        width: 200px * 2;
    }

}

