
/* STYLE - PRODUCTS PAGE */

/* STYLE - NAV - */

#products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav {
        display: flex;
        align-items: center;
        height: 50px;
        &__nav {
            display: flex;
            align-items: center;
            padding: 30px 15px;
            &__ul {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 48px;
                &__li {
                    margin: 0px 35px;
                    &__a {
                        color: $yellow;
                        font-size: $text-normal+.6em;
                        transition: .3s all;
                        font-family: monospace;
                        font-weight: 500;
                    }
                    &__a:hover {
                        font-size: $text-normal+1em;
                        color: #C07F00;
                        font-weight: bold;
                        text-shadow: 0px 0px 10px black;
                    }
                }
            }
        }
    }
    .logo {
        border-radius: 50%;
        width: 65px;
        height: 65px;
    }
}


/* STYLE - MAIN PRODUCTS - */

#grid-container-products {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 100px);
    gap: 30px;
    margin-top: 100px;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px black;
        border-radius: 10px;
    }
    div a {
        font-family: 'Oswald', sans-serif;
        font-size: $text-medium - .5em;
        color: black;
        transition: .2s all;
    }
    div a:hover {
        font-size: 3.5em;
        font-weight: bold;
        color: black;
    }
    .grid-container-products__img1 {
        background-image: url(../imagenes/cadena2.jpeg);
        background-size: cover;
        background-position: bottom;
        grid-column: 2/6;
        grid-row: 2/6;
    }
    .grid-container-products__img2 {
        background-image: url(../imagenes/pulsera4.jpeg);
        background-size: cover;
        grid-column: 6/10;
        grid-row: 1/5;
    }
    .grid-container-products__img3 {
        background-image: url(../imagenes/aro3.jpeg);
        background-size: cover;
        grid-column: 2/5;
        grid-row: 6/10;
    }
    .grid-container-products__img4 {
        background-image: url(../imagenes/anillo4.jpeg);
        background-size: cover;
        background-position: center;
        grid-column: 6/10;
        grid-row: 5/7;
    }
    .grid-container-products__img5 {
        background-image: url(../imagenes/galleryfondo.png);
        background-size: cover;
        background-position: bottom;
        grid-column: 5/9;
        grid-row: 7/10;
    }
}

/* ANIMACIONES */

.animate__fadeInDownBig {
    animation-duration: 1.5s;
}
.animate__backInRight {
    animation-duration: 2s;
}

.animate__fadeInTopLeft {
    animation-duration: 2s;
}
.animate__fadeInTopRight {
    animation-duration: 3s;
}
.animate__fadeInBottomLeft {
    animation-duration: 4s;
}
.animate__fadeInTopRight {
    animation-duration: 5s;
}
.animate__fadeInBottomRight {
    animation-duration: 6s;
}

/* RESPONSIVE */


@media screen and (max-width: 1040px) {
    .grid-container-products__img3 {
        grid-column: 2/6 !important; 
    }
    .grid-container-products__img5 {
        grid-column: 6/10 !important;
    }
}

@media screen and (max-width: 880px) {
    .grid-container-products__img1 {
        grid-column: 1/6 !important;
    }
}

@media screen and (max-width: 870px) {
    .grid-container-products__img2 {
        grid-column: 6/11 !important;
    }
}

@media screen and (max-width: 810px) {
    .grid-container-products__img3 {
        grid-column: 1/6 !important; 
    }
}

@media screen and (max-width: 740px) { /*aqui hay que empezar a modificar el nav*/
    #products-header {
        .nav {
            &__nav {
                &__ul {
                    &__li {
                        &__a {
                            font-size: $text-normal+.2em;
                        }
                    }
                }
            }
        }
        .logo {
            width: 5vh;
            height: 5vh;
        }
    }
}

@media screen and (max-width: 700px) {

    .grid-container-products__img1 {
        grid-column: 1/7 !important; 
    }
    .grid-container-products__img2 {
        grid-column: 7/11 !important; 
        grid-row: 1/4 !important;
    }
    .grid-container-products__img4 {
        grid-column: 7/11 !important;
        grid-row: 4/7 !important;
    }

}

@media screen and (max-width: 655px) { /* proxima modificacion del nav */

    #products-header {
        .nav {
            &__nav {
                &__ul {
                    &__li {
                        &__a {
                            font-size: $text-normal;
                        }
                        &__a:hover {
                            font-size: $text-normal+.6em;
                        }
                    }
                }
            }
        }
        .logo {
            width: 5vh;
            height: 5vh;
        }
    }
    .grid-container-products__img3 {
        grid-column: 1/7 !important;
    }
    .grid-container-products__img5 {
        grid-column: 7/11 !important;
    }

}

@media screen and (max-width: 615px) {
    #products-header {
        .nav {
            &__nav {
                &__ul {
                    &__li {
                        &__a {
                            font-size: $text-normal - .5em;
                        }
                        &__a:hover {
                            font-size: $text-normal;
                        }
                    }
                }
            }
        }
        .logo {
            width: 5vh;
            height: 5vh;
        }
    }
    .grid-container-products__img1 {
        grid-column: 1/6 !important; 
        grid-row: 1/4 !important;
    }
    .grid-container-products__img2 {
        grid-column: 6/11 !important; 
        grid-row: 1/4 !important;
    }
    .grid-container-products__img3 {
        grid-column: 1/6 !important; 
        grid-row: 4/7 !important;
    }
    .grid-container-products__img4 {
        grid-column: 6/11 !important; 
        grid-row: 4/7 !important;
    }
    .grid-container-products__img5 {
        grid-column: 3/9 !important; 
        grid-row: 7/10 !important;
    }
}

@media screen and (max-width: 525px) {

    #products-header {
        .nav {
            &__nav {
                &__ul {
                    &__li {
                        &__a {
                            font-size: .75em;
                        }
                        &__a:hover {
                            font-size: $text-normal;
                        }
                    }
                }
            }
        }
        .logo {
            width: 5vh;
            height: 5vh;
        }
    }

}

@media screen and (max-width: 515px) {

    .grid-container-products__img1 {
        grid-column: 1/6 !important; 
        grid-row: 1/3 !important;
    }
    .grid-container-products__img2 {
        background-position: center;
        grid-column: 6/11 !important; 
        grid-row: 1/3 !important;
    }
    .grid-container-products__img3 {
        grid-column: 1/6 !important; 
        grid-row: 3/6 !important;
    }
    .grid-container-products__img4 {
        grid-column: 6/11 !important; 
        grid-row: 3/6 !important;
    }
    .grid-container-products__img5 {
        grid-column: 3/9 !important; 
        grid-row: 6/9 !important;
    }

}

@media screen and (max-width: 485px) {

    #products-header {
        .logo {
            width: 3vh;
            height: 3vh;
        }
    }

}
@media screen and (max-width: 470px) {
    #products-header {
        .logo {
            width: 4vh;
            height: 3vh;
        }
    }
    .grid-container-products__img3 {
        background-position: center;
        grid-column: 1/6 !important; 
        grid-row: 3/5 !important;
    }
}

@media screen and (max-width: 460px) {

    #products-header {
        .nav {
            &__nav {
                &__ul {
                    &__li {
                        &__a {
                            font-size: $text-normal - 1em;
                        }
                        &__a:hover {
                            font-size: $text-normal;
                        }
                    }
                }
            }
        }
        .logo {
            width: 2vh;
            height: 2vh;
        }
    }

}

@media screen and (max-width: 370px) {
    
#products-header {
        .nav {
            &__nav {
                &__ul {
                    &__li {
                        &__a {
                            font-size: .5em;
                        }
                        &__a:hover {
                            font-size: .5em;
                        }
                    }
                }
            }
        }
        .logo {
            display: none;
        }
    }

}

@media screen and (max-width: 320px) {


}



