
/* STYLE - PRODUCTS PAGE */

/* STYLE - NAV - */

#products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav {
        display: flex;
        align-items: center;
        height: 50px;
        &__nav {
            display: flex;
            align-items: center;
            padding: 30px 15px;
            &__ul {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 48px;
                &__li {
                    margin: 0px 20px;
                    &__a {
                        color: orange;
                        font-size: $text-normal;
                        font-family: sans-serif;
                        transition: .3s all;
                    }
                }
            }
        }
    }
    .logo {
        background-image: url("../imagenes/logo.jpeg");
        width: 5vw;
        height: 5vw;
    }
}


/* STYLE - MAIN PRODUCTS - */

#grid-container-products {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 100px);
    gap: 30px;
    margin-top: 100px;
    .grid-container-products__img1 {
        background-image: url(../imagenes/cadena2.jpeg);
        background-size: cover;
        background-position: bottom;
        grid-column: 2/6;
        grid-row: 2/6;
    }
    .grid-container-products__img2 {
        background-image: url(../imagenes/pulsera2.jpeg);
        background-size: cover;
        grid-column: 6/9;
        grid-row: 1/5;
    }
    .grid-container-products__img3 {
        background-image: url(../imagenes/aro2.jpeg);
        background-size: cover;
        grid-column: 2/5;
        grid-row: 6/10;
    }
    .grid-container-products__img4 {
        background-image: url(../imagenes/anillo2.jpeg);
        background-size: cover;
        background-position: center;
        grid-column: 6/10;
        grid-row: 5/7;
    }
    .grid-container-products__img5 {
        background-image: url(../imagenes/cadena1.jpeg);
        background-size: cover;
        background-position: bottom;
        grid-column: 5/9;
        grid-row: 7/10;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px black;
    }
    div a {
        font-family: sans-serif;
        font-size: 2em;
        color: black;
        transition: .2s all;
    }
}


/* TRANSICIONES */

#products-header {
    .nav {
        &__nav {
            &__ul {
                &__li {
                    &__a:hover {
                        color: gold;
                        font-size: $text-normal + .5em;
                        font-weight: bold;
                        text-shadow: 0px 0px 10px black;
                    }
                }
            }
        }
    }
}


#grid-container-products {
    div a:hover {
        font-size: 3em;
        font-weight: bold;
        text-decoration: underline;
    }
}
