
/* COLORES */

$color-firts: gold;
$color-second: orange;
$color-third: black;
$color-fourth: gray;
$color-error: red;

/* BORDER */

$default-border: 1px solid black; 

/* FUENTES */

$text-big: 7rem; 
$text-medium: 3rem;
$text-normal: 1.5rem;

/* ESPACIADOS */

$spacing-big: 20px;
$spacing-normal: 10px;