
/* COLORES */

$color-firts: #FFD95A;
$color-second: orange;
$color-third: black;
$color-fourth: gray;
$color-error: red;

/* BORDER */

$normal-border: 1px solid black; 
$outline: 2px solid black;

/* FUENTES */

$text-big: 10em; 
$text-medium: 3em;
$text-normal: 1.5em;

/* ESPACIADOS */

$spacing-big: 20px;
$spacing-normal: 10px;