/* COLORS */
$yellow: #FFD95A;
$orange: rgb(168, 126, 47);
$color-third: black;
$color-error: red;
$gray: #EEEEEE;

/* BORDER */
$border: 1px solid black; 
$outline: 2px solid black;

/* SIZE */
$text-big: 10em; 
$text-medium: 3em;
$text-normal: 1.5em;

/* FONTS */
$montserrat: "Montserrat", sans-serif;
$playfair-display: "Playfair Display", serif;

/* SPACING */
$spacing-big: 20px;
$spacing-normal: 10px;

